.newsletter {
  margin: 3rem auto;
  width: 90%;
  max-width: 25rem;
}

.newsletter h2 {
  text-align: center;
}

.control input {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
}

.newsletter button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font: inherit;
  cursor: pointer;
}

.control {
  display: flex;
  box-shadow: 0px 0px 9px 3px #ffffff;
}

.control input {
  flex: 1;
  background-color: black;
  color: white;
  border: none;
}
