.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0px 0px 9px 1px #ffffff;
}

.btn:hover,
.btn:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: black;
}
